---
layout: layouts/base.njk
title: "Website Examples | Ad On Group"
description: "Website examples from Ad On Group across auto, trades, hospitality, fitness, health and beauty, retail, medical, construction and more."
ogImage: "/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png"
bodyClass: "reference"
permalink: "/website-examples/index.html"
---



<div class="fl-content-full container">
	<div class="row">
		<div class="fl-content col-md-12">
			<article class="fl-post post-594 page type-page status-publish hentry" id="fl-post-594" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

			<div class="fl-post-content clearfix" itemprop="text">
		<div class="fl-builder-content fl-builder-content-594 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="594"><div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5cf868c908c28 fl-row-default-height fl-row-align-center" data-node="5cf868c908c28">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5cf868c90da93" data-node="5cf868c90da93">
			<div class="fl-col fl-node-5cf868c90e9f9 fl-col-bg-color fl-col-small fl-animation fl-fade-left" data-node="5cf868c90e9f9" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8691d7ab9a" data-node="5cf8691d7ab9a">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template1/" target="_blank"><div class="devices-label"><span>1 Auto</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template1.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template1-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5cf868c90eddd fl-col-bg-color fl-col-small fl-animation fl-fade-left" data-node="5cf868c90eddd" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8884f4eefb" data-node="5cf8884f4eefb">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template2/" target="_blank"><div class="devices-label"><span>2 Trades</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template2.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template2-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>

<div class="fl-col-group fl-node-5cf89eec03993" data-node="5cf89eec03993">
			<div class="fl-col fl-node-5cf89eec045d5 fl-col-bg-color fl-col-small fl-animation fl-fade-right" data-node="5cf89eec045d5" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf89ef900c16" data-node="5cf89ef900c16">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template3/" target="_blank"><div class="devices-label"><span>3 Hospitality</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template3.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template3-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5cf89eec049ba fl-col-bg-color fl-col-small fl-animation fl-fade-right" data-node="5cf89eec049ba" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf89f9f1a2f0" data-node="5cf89f9f1a2f0">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template4/" target="_blank"><div class="devices-label"><span>4 Fitness</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template4.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template4-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>

<div class="fl-col-group fl-node-5cf89fb9746fb" data-node="5cf89fb9746fb">
			<div class="fl-col fl-node-5cf89fb9752ad fl-col-bg-color fl-col-small fl-animation fl-fade-left" data-node="5cf89fb9752ad" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8a45c9ba2d" data-node="5cf8a45c9ba2d">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template5/" target="_blank"><div class="devices-label"><span>5 Professional</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template5.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template5-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5cf89fb9756a4 fl-col-bg-color fl-col-small fl-animation fl-fade-left" data-node="5cf89fb9756a4" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8a86b397c8" data-node="5cf8a86b397c8">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template6/" target="_blank"><div class="devices-label"><span>6 Agricultural</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template6.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template6-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>

<div class="fl-col-group fl-node-5cf8ac83e2bea" data-node="5cf8ac83e2bea">
			<div class="fl-col fl-node-5cf8ac83e33bd fl-col-bg-color fl-col-small fl-animation fl-fade-right" data-node="5cf8ac83e33bd" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8ac8a23e53" data-node="5cf8ac8a23e53">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template7/" target="_blank"><div class="devices-label"><span>7 Health/Beauty</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template7.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template7-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5cf8ac83e37b2 fl-col-bg-color fl-col-small fl-animation fl-fade-right" data-node="5cf8ac83e37b2" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8aef161ca6" data-node="5cf8aef161ca6">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template8/" target="_blank"><div class="devices-label"><span>8 Retail</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template8.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template8-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>

<div class="fl-col-group fl-node-5cf8b353d0b4a" data-node="5cf8b353d0b4a">
			<div class="fl-col fl-node-5cf8b353d1a96 fl-col-bg-color fl-col-small fl-animation fl-fade-left" data-node="5cf8b353d1a96" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5cf8b35a4159c" data-node="5cf8b35a4159c">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/template9/" target="_blank"><div class="devices-label"><span>9 Professional</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/06/template9.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/06/template9-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5cf8b353d2266 fl-col-bg-color fl-col-small" data-node="5cf8b353d2266">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5d48dab33991a" data-node="5d48dab33991a">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/web-themes/adon_templates/theme-5/" target="_blank"><div class="devices-label"><span>10 Medical</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/08/template-05.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/08/template-05-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>

<div class="fl-col-group fl-node-5d48dd9529b15" data-node="5d48dd9529b15">
			<div class="fl-col fl-node-5d48dd952a6c9 fl-col-bg-color fl-col-small" data-node="5d48dd952a6c9">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5d48dd9ce6832" data-node="5d48dd9ce6832">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/web-themes/adon_templates/theme-7/" target="_blank"><div class="devices-label"><span>11 Outdoors</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/08/template-07.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/08/template-07-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5d48dd952ae99 fl-col-bg-color fl-col-small" data-node="5d48dd952ae99">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5d48de00ee2e5" data-node="5d48de00ee2e5">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/web-themes/adon_templates/theme-23/" target="_blank"><div class="devices-label"><span>12 Construction</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/08/theme-23.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/08/theme-23-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>

<div class="fl-col-group fl-node-5d48de51806f9" data-node="5d48de51806f9">
			<div class="fl-col fl-node-5d48de51819ac fl-col-bg-color fl-col-small" data-node="5d48de51819ac">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5d48de591f558" data-node="5d48de591f558">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/web-themes/adon_templates/theme-24/" target="_blank"><div class="devices-label"><span>13 Financial Services</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/08/template-24.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/08/template-24-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5d48de51821c7 fl-col-bg-color fl-col-small" data-node="5d48de51821c7">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-devices-showcase fl-node-5d48de8d4a493" data-node="5d48de8d4a493">
	<div class="fl-module-content fl-node-content">
		<div id="device" class="devices-showcase"><a href="https://adondevelopment.com/web-themes/adon_templates/theme-54/" target="_blank"><div class="devices-label"><span>14 Destination</span></div><div class="devices-wrapper"><div class="device desktop"><div class="screen" style="background-image: url(/assets/media/2019/08/template-54.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/desktop.png" ></div><div class="device phone"><div class="screen" style="background-image: url(/assets/media/2019/08/template-54-mobile.jpg)"></div><img decoding="async" src="/assets/media/_plugins/bb-custom-modules/modules/custom/devices-showcase/images/iphone-6.png" ></div></div></a></div>	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
</div><div class="uabb-js-breakpoint" style="display: none;"></div>	</div>
	
</article>


		</div>
	</div>
</div>


