---
layout: layouts/base.njk
title: "Google Ads Report Explainer | Ad On Group"
ogImage: "/wp-content/uploads/2021/10/Ad-On-Group-logo.png"
bodyClass: "reference"
permalink: "/aog-report-explainers/index.html"
---



<h1 class="title">Google Ads Report Explainer</h1>
<div class="cd-product cd-container">

      <div class="cd-product-wrapper">
        

        <img src= /wp-content/uploads/2022/02/aog-sample-report-scaled.jpg >
        <ul>
          <li class="cd-single-point" id="report">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-right">
              

              <div class="point_content">
                <p> The Google Ads account that this report covers.</p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>

          <li class="cd-single-point" id="date_range">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-right">
              

              <div class="point_content">
                <p>The date range covered by the report</p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="clicks">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-right">
              

              <div class="point_content">
                <h><b>Clicks</b></h>
                <hr>

                <p>
                  When someone clicks your ad, for example on the blue headline
                  or phone number of a text ad, Google Ads counts that as a
                  click.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="impressions">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Impressions</b></h>
                <hr>
                <p>
                  How often your ad is shown. An impression is counted each time
                  your ad is shown on a search result page or other site on the
                  Google Network.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="CTR">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-bottom">
              

              <div class="point_content">
                <h><b>Clickthrough Rate (CTR)</b></h>
                <hr>
                <p>
                  A ratio showing how often people who see your ad end up
                  clicking it. Click-through rate (CTR) can be used to gauge how
                  well your keywords and ads are performing. The average
                  click-through rate in Google Ads across all industries is
                  3.17% for search and 0.46% for display (WordStream, 2021).
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="avg_CPC">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-bottom">
              

              <div class="point_content">
                <h><b>Cost-per-click (CPC)</b></h>
                <hr>
                <p>
                  The average amount that you've been charged for a click on
                  your ad. Average cost-per-click (avg. CPC) is calculated by
                  dividing the total cost of your clicks by the total number of
                  clicks. Factors like your industry and competitors, selected
                  keywords, bidding strategy, targeting criteria and your
                  website all influence CPC.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="all_conv">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-bottom">
              

              <div class="point_content">
                <h><b>All Conversions</b></h>
                <hr>
                <p>
                  The total number of conversions that Google Ads measures for
                  each conversion action set up in your account. All conversions
                  may include actions taken on a website or landing page after
                  clicking on an ad, direct calls via an ad, or local actions.
                  This can give you a more accurate understanding of how users
                  interact with your business and help you better calculate the
                  effectiveness of your advertising. *Website conversions will
                  only be tracked if Google Ads conversion tracking code is
                  installed on the site.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="phone_calls">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Phone calls</b></h>
                <hr>
                <p>
                  Phone calls are the number of times people clicked on a phone
                  number displayed in an ad on a mobile device or manually
                  dialed the Google forwarding number displayed in an ad on any
                  device. Phone calls of a specified duration may also be
                  counted as conversions.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="cost">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Cost</b></h>
                <hr>
                <p>The sum of your spend on Google Ads during this period.</p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="table">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <p>
                  This table features your top performing keywords. It details
                  the keyword which triggered your ad to appear (ie. someone
                  searching on Google for "Gold Coast Pools"), how many ad
                  clicks it generated and the average clickthrough rate (CTR)
                  for that keyword.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="clicks_gender">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Clicks by gender</b></h>
                <hr>
                <p>
                  A breakdown of all clicks generated by your ads according to
                  gender (male, female or undetermined). Demographic
                  information, such as age and gender, is derived from Google
                  Account holder's settings or activity on Google properties. In
                  addition, some sites might provide Google with demographic
                  information that people share on certain websites, such as
                  social networking sites.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="clicks_age">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Clicks by age</b></h>
                <hr>
                <p>
                  A breakdown of all clicks generated by your ads according to
                  age group. Demographic information, such as age and gender, is
                  derived from Google Account holder's settings or activity on
                  Google properties. In addition, some sites might provide
                  Google with demographic information that people share on
                  certain websites, such as social networking sites.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="clicks_device">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Clicks by device</b></h>
                <hr>
                <p>
                  A breakdown of all clicks generated by your ads according to
                  what device they were using at the time (mobile device,
                  computers or tablets).
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="conv_table">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <p>
                  This table provides a breakdown of conversions generated by
                  your ads. The source of the conversion may include an action
                  taken on a website (calling from a website, completing a
                  website contact form), direct calls or Google hosted
                  conversions. Google hosted conversions are local actions,
                  often via Google Maps, and may include clicks-to-call,
                  requests for directions, and shares.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="adshare_table">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <p>
                  This table lets you compare your performance with other
                  advertisers who are participating in the same ad auctions that
                  you are. Ad Auction: The process that happens with each Google
                  search to decide which ads will appear for that specific
                  search and in which order those ads will show on the page (or
                  whether or not any ads will show at all). It's normal for you
                  to see some fluctuation in your ad's position on the page and
                  in whether or not your ad shows at all. Ad position is
                  influenced by your budget, your competitors' budgets and the
                  relevancy of your keywords, among other factors.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="impr_share">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <h><b>Search impression share (Impr. share)</b></h>
                <hr>
                <p>
                  The impressions you’ve received on the Search Network divided
                  by the estimated number of impressions you were eligible to
                  receive.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
          <li class="cd-single-point" id="clicks_table">
            <a class="cd-img-replace" href="#0">More</a>
            <div class="cd-more-info cd-top">
              

              <div class="point_content">
                <p>
                  This table shows the number of clicks your ads generated over
                  the specified time period. It is normal to see fluctuations in
                  engagement depending on the day, hour and the ad schedule.
                </p>
              </div>

              <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
          </li>
        </ul>
      </div>
      
    </div>


