---
layout: layouts/base.njk
title: "Media | Ad On Group"
description: "Ad On Mobile is a one-of-a-kind way to advertise your business using your Telstra mobile phone."
ogImage: "/assets/media/2025/04/Screenshot-2025-04-09-104008.png"
bodyClass: "reference"
permalink: "/media/index.html"
---



<div class="fl-content-full container">
	<div class="row">
		<div class="fl-content col-md-12">
			<article class="fl-post post-1354 page type-page status-publish hentry" id="fl-post-1354" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

			<div class="fl-post-content clearfix" itemprop="text">
		<div class="fl-builder-content fl-builder-content-1354 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="1354"><div class="fl-row fl-row-full-width fl-row-bg-color fl-node-87cl2g5kpiqd fl-row-custom-height fl-row-align-bottom gradient-triangle" data-node="87cl2g5kpiqd">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-sij8xy0ocpfm fl-col-group-equal-height fl-col-group-align-center" data-node="sij8xy0ocpfm">
			<div class="fl-col fl-node-m3ux6q75v8dn fl-col-bg-color" data-node="m3ux6q75v8dn">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-heading fl-node-maiqc0xp54d6 priority-section" data-node="maiqc0xp54d6">
	<div class="fl-module-content fl-node-content">
		<h1 class="fl-heading">
		<span class="fl-heading-text">Ad On Mobile attracts National Media Attention</span>
	</h1>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-r4f5beqm63tw fl-row-default-height fl-row-align-center" data-node="r4f5beqm63tw">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-y3uit9lqzm4v fl-col-group-equal-height fl-col-group-align-center" data-node="y3uit9lqzm4v">
			<div class="fl-col fl-node-v7cfxgip9u8o fl-col-bg-color fl-col-small" data-node="v7cfxgip9u8o">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-5cf5e05235215 fl-animation fl-bounce-up" data-node="5cf5e05235215" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p><strong>Ad On Mobile</strong> is a unique way to advertise your business using your Telstra mobile.</p>
<p>Watch the <a href="#"><em>Sky News news</em></a> report and find out what interested them in this Australia first!</p>
</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-clehzpby2fj5 fl-col-bg-color fl-col-small" data-node="clehzpby2fj5">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-uabb-video fl-node-megc4j2sv0z1" data-node="megc4j2sv0z1">
	<div class="fl-module-content fl-node-content">
				<div class="uabb-video uabb-aspect-ratio-16_9  uabb-subscribe-responsive-none uabb-video-sticky-top_left" >
												<div class="uabb-video__outer-wrap  " data-autoplay="0" data-device="true" >
											<div class="uabb-video-inner-wrap">
					<div class="uabb-video__play" data-src="https://player.vimeo.com/video/1073787214?loop=1&#038;title=0&#038;portrait=0&#038;byline=0&#038;dnt=0&#038;color&#038;autopause=0&#038;autoplay=1">
					<img decoding="async" src="/assets/media/2025/04/Screenshot-2025-04-09-104008.png" alt="" width="1877" height="1005" loading="eager" fetchpriority="high">
						<div class="uabb-video__play-icon  uabb-animation-" tabindex="0">
							<svg version="1.1" height="100%" width="100%"  viewBox="0 14.375 95 66.25"><path class="uabb-vimeo-icon-bg" d="M12.5,14.375c-6.903,0-12.5,5.597-12.5,12.5v41.25c0,6.902,5.597,12.5,12.5,12.5h70c6.903,0,12.5-5.598,12.5-12.5v-41.25c0-6.903-5.597-12.5-12.5-12.5H12.5z"></path><polygon fill="#FFFFFF" points="39.992,64.299 39.992,30.701 62.075,47.5 "></polygon></svg>						</div>
					</div>
										
				</div>
			</div>
						</div>
			</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-parallax fl-node-5cf8c372903c1 fl-row-default-height fl-row-align-center" data-node="5cf8c372903c1" data-parallax-speed="2" data-parallax-image="/assets/media/2025/03/Rectangle-38.jpg">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5feacfbe2b156 fl-col-group-equal-height fl-col-group-align-center" data-node="5feacfbe2b156">
			<div class="fl-col fl-node-5feacfbe2b24d fl-col-bg-color fl-col-small" data-node="5feacfbe2b24d">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-uabb-video fl-node-ie7t3y9bfp2h" data-node="ie7t3y9bfp2h">
	<div class="fl-module-content fl-node-content">
				<div class="uabb-video uabb-aspect-ratio-16_9  uabb-subscribe-responsive-none uabb-video-sticky-top_left" >
												<div class="uabb-video__outer-wrap  " data-autoplay="0" data-device="true" >
											<div class="uabb-video-inner-wrap">
					<div class="uabb-video__play" data-src="https://player.vimeo.com/video/1073785486?loop=1&#038;title=0&#038;portrait=0&#038;byline=0&#038;dnt=0&#038;color&#038;autopause=0&#038;autoplay=1">
					<img decoding="async" src="/assets/media/2025/04/Screenshot-2025-04-09-102752.png" alt="" width="1886" height="1012" loading="lazy">
						<div class="uabb-video__play-icon  uabb-animation-" tabindex="0">
							<svg version="1.1" height="100%" width="100%"  viewBox="0 14.375 95 66.25"><path class="uabb-vimeo-icon-bg" d="M12.5,14.375c-6.903,0-12.5,5.597-12.5,12.5v41.25c0,6.902,5.597,12.5,12.5,12.5h70c6.903,0,12.5-5.598,12.5-12.5v-41.25c0-6.903-5.597-12.5-12.5-12.5H12.5z"></path><polygon fill="#FFFFFF" points="39.992,64.299 39.992,30.701 62.075,47.5 "></polygon></svg>						</div>
					</div>
										
				</div>
			</div>
						</div>
			</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-3uyo5mjqnc6b fl-col-bg-color fl-col-small" data-node="3uyo5mjqnc6b">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-5cf8c4b28fc03 fl-animation fl-fade-down" data-node="5cf8c4b28fc03" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>Sky news wasn't the only the only national media station who pricked up their ears. <a href="#"><em>Channel 7</em></a> also followed the launch of Ad On Mobile</p>
</div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-5cf8c721f3485 fl-animation fl-bounce-left" data-node="5cf8c721f3485" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>The news papers and radio stations lapped up the story. Check out the article this Gold<br>
Coast Newspaper wrote.</p>
<p>…and SEN love an opportunity to talk about a unique, innovative story. National talk radio<br>
hosts actually talked about the product on air!</p>
<p>Listen to the banter here</p>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
</div><div class="uabb-js-breakpoint" style="display: none;"></div>	</div>
	
</article>


		</div>
	</div>
</div>


