---
layout: layouts/base.njk
title: "Top 6 Reasons why Social Media matters to your business | Ad On Group"
description: "Top six reasons social media matters to your business — starting with the simplest one: it's where your customers already spend their time."
ogImage: "/assets/media/2021/10/Ad-On-Group-logo.png"
bodyClass: "reference"
permalink: "/social-media-matters-to-your-business/index.html"
---



<div class="fl-builder-content fl-builder-content-704 fl-builder-global-templates-locked" data-post-id="704"><div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5d9ac832643f2 fl-row-default-height fl-row-align-center" data-node="5d9ac832643f2">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5d9ac83264437" data-node="5d9ac83264437">
			<div class="fl-col fl-node-5d9ac83264476 fl-col-bg-color" data-node="5d9ac83264476">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-heading fl-node-5d9ac8e88e94a fl-animation fl-bounce-up" data-node="5d9ac8e88e94a" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<h2 class="fl-heading">
		<span class="fl-heading-text">Top 6 Reasons why Social Media matters to your business</span>
	</h2>
	</div>
</div>
<div class="fl-module fl-module-fl-post-info fl-node-5d9ac83264541 fl-animation fl-fade-down" data-node="5d9ac83264541" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<span class="fl-post-info-date">December 13, 2019</span><span class="fl-post-info-sep">/</span><span class="fl-post-info-author"><a href="/author/alvin/">Alvin Caoyonan</a></span><span class="fl-post-info-sep">/</span><span class="fl-post-info-comments"><a href="/social-media-matters-to-your-business/#respond" tabindex="-1" aria-hidden="true">No Comments</a></span>	</div>
</div>
<div class="fl-module fl-module-fl-post-content fl-node-5d9ac832644b4 fl-animation fl-fade-right" data-node="5d9ac832644b4" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		
<p class="wp-block-paragraph"><strong>1.
Social Media is where your customers are</strong></p>



<p class="wp-block-paragraph">With over 2.38 billion <a href="https://www.facebook.com/">Facebook users</a>, 1 billion Insta-lovers and 500 million ambitious <a href="https://about.linkedin.com/">LinkedIn members</a>, chances are your business customers are also connected via one or more social media channels. So it makes sense to play in this space. What’s more, potential customers will go looking for you on social media and be a little distrustful if you don’t have a presence.</p>



<p class="wp-block-paragraph"><strong>2.&nbsp; <a href="https://obelismedia.com/social-media-advertising/">Social Media advertising</a> </strong></p>



<p class="wp-block-paragraph">This can either be deliberate, through paid advertisements or via posts. Considering that more than half of social media users access their favourite platform every day, this opens you up to a wide audience to keep your brand top-of-mind. </p>



<p class="wp-block-paragraph"><strong>3.
Give your Brand some personality</strong></p>



<p class="wp-block-paragraph">The great thing about social media is that
you can connect with your customers &#8211; loyal, potential or otherwise &#8211; without
making them feel as though you’re ‘selling something’. You can alternate posts
between showing off your product, giving followers a peek into the
behind-the-scenes action of your business, plugging a sale, or sharing a fun
meme. </p>



<p class="wp-block-paragraph"><strong>4.
Engage with your customers</strong></p>



<p class="wp-block-paragraph">If you schedule your daily posts, it can be
easy to then forget about following up any reaction that they may have sparked
&#8211; positive or negative. For example, if you have announced a sale teasing that
there is only ‘limited stock available’ and then have customers asking if there
are any left, you can’t leave them hanging! Customers can have a multitude of
questions: opening hours on public holidays, available parking, postage fees,
returns policy etc. It’s vital you take the time to answer these questions.</p>



<p class="wp-block-paragraph"><strong>5.
Benefit from reviews and recommendations</strong></p>



<p class="wp-block-paragraph">There is a ‘reviews’ section on Facebook&#8230;
for a reason. New customers will want to know if they can expect a good
experience with your product. Happy, loyal customers will want everyone to know
how great you are. And those who have a bad experience will also want to share.
In the case of a bad review, follow up &#8211; ask to contact them directly and
discuss their experience, look at ways to improve, promise to do so, and then
demonstrate it. A simple ‘thank you, glad you enjoyed your
meal/coffee/experience’ can also extend on a positive review.</p>



<p class="wp-block-paragraph"><strong>6.
Drive people to your website</strong></p>



<p class="wp-block-paragraph">As important as social media is, it is also
imperative you have a website. It doesn’t need to be full of bells and
whistles, in fact the ‘less is more’ approach is very appealing in this
mobile-phone driven era. An ‘easy-to-find’ link to your website on your social
media pages provides a platform for your users to shop online, flick through an
enquiry, request a quote, or make a booking.</p>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-5d9ac832645ba fl-animation fl-fade-left" data-node="5d9ac832645ba" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
<div class="fl-module fl-module-html fl-node-5d9ac832646ad fl-animation fl-bounce" data-node="5d9ac832646ad" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-html">
	Posted in <a href="/category/social-media/" rel="tag" class="social-media">Social Media</a></div>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-5d9ac8326457e fl-animation fl-fade-right" data-node="5d9ac8326457e" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
<div class="fl-module fl-module-fl-post-navigation fl-node-5d9ac83264634 fl-animation fl-fade-down" data-node="5d9ac83264634" data-animation-delay="0.0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		
	<nav class="navigation post-navigation" aria-label="Posts">
		<h2 class="screen-reader-text">Posts navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="/the-benefits-of-video-advertising/" rel="prev">&larr; The Benefits of Video Advertising via Animated Video Maker</a></div><div class="nav-next"><a href="/seo-stands-for/" rel="next">Do you know what SEO… stands for? &rarr;</a></div></div>
	</nav>	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-5fe2cfc35a739 fl-col-bg-color fl-col-small fl-animation fl-fade-right" data-node="5fe2cfc35a739" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-sidebar fl-node-5fe2cfc35a736" data-node="5fe2cfc35a736">
	<div class="fl-module-content fl-node-content">

<aside id="recent-posts-2" class="fl-widget widget_recent_entries">
		<h4 class="fl-widget-title">Recent Posts</h4>
		<ul>
											<li>
					<a href="/maximising-efficiency-overseas-remote-staff-and-the-evolution-of-office-administration/">Maximising Efficiency: Overseas Remote Staff and the Evolution of Office Administration</a>
									</li>
											<li>
					<a href="/regain-balance-in-your-life-the-transformative-power-of-remote-staffing/">Regain Balance in Your Life: The Transformative Power of Remote Staffing</a>
									</li>
											<li>
					<a href="/streamlining-staff-training-the-power-of-outsourcing-with-robust-back-office-support/">Streamlining Staff Training: The Power of Outsourcing with Robust Back-Office Support</a>
									</li>
											<li>
					<a href="/the-hidden-costs-of-hiring-in-australia-unraveling-the-full-employment-picture/">The Hidden Costs of Hiring in Australia: Unraveling the Full Employment Picture</a>
									</li>
											<li>
					<a href="/how-can-a-business-benefit-from-asking-their-customers-for-feedback/">How can a business benefit from asking their customers for feedback</a>
									</li>
					</ul>

		</aside><aside id="archives-2" class="fl-widget widget_archive"><h4 class="fl-widget-title">Archives</h4>
			<ul>
					<li><a href='/2023/11/'>November 2023</a></li>
	<li><a href='/2021/01/'>January 2021</a></li>
	<li><a href='/2020/05/'>May 2020</a></li>
	<li><a href='/2020/03/'>March 2020</a></li>
	<li><a href='/2020/02/'>February 2020</a></li>
	<li><a href='/2020/01/'>January 2020</a></li>
	<li><a href='/2019/12/'>December 2019</a></li>
	<li><a href='/2019/11/'>November 2019</a></li>
	<li><a href='/2019/10/'>October 2019</a></li>
	<li><a href='/2019/07/'>July 2019</a></li>
	<li><a href='/2019/06/'>June 2019</a></li>
			</ul>

			</aside><aside id="categories-2" class="fl-widget widget_categories"><h4 class="fl-widget-title">Categories</h4>
			<ul>
					<li class="cat-item cat-item-42"><a href="/category/ad-on-digital/">Ad On Digital</a>
</li>
	<li class="cat-item cat-item-39"><a href="/category/ad-on-group/">Ad On Group</a>
</li>
	<li class="cat-item cat-item-31"><a href="/category/ad-on-hold/">Ad On Hold</a>
</li>
	<li class="cat-item cat-item-35"><a href="/category/ad-on-mobile/">Ad On Mobile</a>
</li>
	<li class="cat-item cat-item-114"><a href="/category/ad-on-review/">Ad On Review</a>
</li>
	<li class="cat-item cat-item-76"><a href="/category/animated-video-maker/">Animated Video Maker</a>
</li>
	<li class="cat-item cat-item-64"><a href="/category/digital-advertising/">Digital Advertising</a>
</li>
	<li class="cat-item cat-item-85"><a href="/category/digital-marketing-expert/">Digital Marketing Expert</a>
</li>
	<li class="cat-item cat-item-82"><a href="/category/digital-marketing-services/">Digital Marketing Services</a>
</li>
	<li class="cat-item cat-item-69"><a href="/category/mobile-advertising/">Mobile Advertising</a>
</li>
	<li class="cat-item cat-item-73"><a href="/category/online-digital-marketing/">Online Digital Marketing</a>
</li>
	<li class="cat-item cat-item-60"><a href="/category/seo/">SEO</a>
</li>
	<li class="cat-item cat-item-52"><a href="/category/social-media/">Social Media</a>
</li>
	<li class="cat-item cat-item-1"><a href="/category/uncategorized/">Uncategorized</a>
</li>
	<li class="cat-item cat-item-48"><a href="/category/video-for-business/">Video for Business</a>
</li>
			</ul>

			</aside>	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
</div><div class="uabb-js-breakpoint" style="display: none;"></div>


