---
layout: layouts/base.njk
title: "Easy Rate App | Ad On Group"
description: "Get more Google reviews, easily. The Easy Rate app by Ad On Review lets you send, respond to and track feedback requests from your mobile."
ogImage: "/assets/media/2021/06/Easy-Rate-app-graphic.png"
bodyClass: "reference"
permalink: "/easy-rate-app/index.html"
---



<div class="fl-content-full container">
	<div class="row">
		<div class="fl-content col-md-12">
			<article class="fl-post post-2667 page type-page status-publish hentry" id="fl-post-2667" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

			<div class="fl-post-content clearfix" itemprop="text">
		<div class="fl-builder-content fl-builder-content-2667 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="2667"><div class="fl-row fl-row-full-width fl-row-bg-parallax fl-node-6191b1272828b fl-row-default-height fl-row-align-center" data-node="6191b1272828b" data-parallax-speed="2" data-parallax-image="/assets/media/2021/06/easyrate-herobanner-bg.svg">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-6191b1272828f fl-col-group-equal-height fl-col-group-align-center" data-node="6191b1272828f">
			<div class="fl-col fl-node-6191b12728291 fl-col-bg-color fl-col-small" data-node="6191b12728291">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-6191b12728294" data-node="6191b12728294">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-left" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img fetchpriority="high" decoding="async" class="fl-photo-img wp-image-1767 size-full" src="/assets/media/2021/06/Easy-Rate-app-graphic.png" alt="Easy Rate app graphic" itemprop="image" height="619" width="448" title="Easy Rate app graphic" srcset="/assets/media/2021/06/Easy-Rate-app-graphic.png 448w, /assets/media/2021/06/Easy-Rate-app-graphic-217x300.png 217w, /assets/media/2021/06/Easy-Rate-app-graphic-265x366.png 265w, /assets/media/2021/06/Easy-Rate-app-graphic-216x298.png 216w" sizes="(max-width: 448px) 100vw, 448px" loading="eager">
					</div>
	</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-6191b12728292 fl-col-bg-color fl-col-small" data-node="6191b12728292">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-6191b12728293 fl-animation fl-fade-left" data-node="6191b12728293" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h1>Easy Rate App</h1>
</div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-6191b127282b3 fl-animation fl-fade-left" data-node="6191b127282b3" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h4>Get more Google reviews. Easily</h4>
</div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-6191b127282b5 fl-animation fl-fade-left" data-node="6191b127282b5" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h5>Powered by Ad On Review</h5>
</div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-6191b127282b4 fl-animation fl-fade-left" data-node="6191b127282b4" data-animation-delay="0.4" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>Send, respond and track feedback requests with our mobile app, all while on the move and grow your online reviews at the same time.</p>
</div>
	</div>
</div>
<div class="fl-module fl-module-photo-gallery fl-node-6191b127282b6 fl-animation fl-fade-up" data-node="6191b127282b6" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
			<div class="uabb-module-content uabb-photo-gallery uabb-gallery-grid3  " data-nonce="2b003bebb9" data-all-filters= >
				<div class="uabb-photo-gallery-item  uabb-photo-item-grid" data-item-id="1770" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
			<div class="uabb-photo-gallery-content ">

																						
				<img decoding="async" class="uabb-gallery-img" src="/assets/media/2021/06/app_store_badge.svg" alt="App Store badge" title="app_store_badge" itemprop="thumbnail" loading="lazy">
																							
																																																	</div>
																									</div>

				<div class="uabb-photo-gallery-item  uabb-photo-item-grid" data-item-id="1771" itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
			<div class="uabb-photo-gallery-content ">

																						
				<img decoding="async" class="uabb-gallery-img" src="/assets/media/2021/06/google_play_badge.svg" alt="google play badge" title="google_play_badge" itemprop="thumbnail" loading="lazy">
																							
																																																	</div>
																									</div>

			</div>
		</div>
</div>
<div class="fl-module fl-module-button fl-node-6191b127282df fl-animation fl-fade-up cta-enquire-btn" data-node="6191b127282df" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-button-wrap fl-button-width-auto fl-button-left">
			<a href="/easy-rate-app/try-now/" target="_self" class="fl-button">
							<span class="fl-button-text">REQUEST A DEMO</span>
					</a>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-6191b1272829a fl-row-custom-height fl-row-align-center" data-node="6191b1272829a">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-6191b12728295 fl-col-group-equal-height fl-col-group-align-center" data-node="6191b12728295">
			<div class="fl-col fl-node-6191b12728296 fl-col-bg-color fl-col-small" data-node="6191b12728296">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-6191b12728298 fl-animation fl-fade-left aog-product-title" data-node="6191b12728298" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h2>MORE ONLINE CUSTOMER REVIEWS. MORE EVIDENCE. MORE TRUST. MORE SALES</h2>
</div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-6191b12728299 fl-animation fl-fade-left" data-node="6191b12728299" data-animation-delay="0.4" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>Send, respond and track customer feedback with our mobile app, all while on the move and grow your Google reviews at the same time. Improve your business by listening to your customers and improve your online reputation, all from one easy to use mobile phone app.</p>
<p>You know what a great job you do but let your customers tell others by making it easy for them to leave their feedback online for all to see….and the best part, our smart Australian mobile app sends negative feedback to you first, keeping it off line.</p>
</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-6191b12728297 fl-col-bg-color fl-col-small" data-node="6191b12728297">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-6191b127282a1 fl-animation fl-fade-right" data-node="6191b127282a1" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img loading="lazy" decoding="async" class="fl-photo-img wp-image-1769 size-full" src="/assets/media/2021/06/easy-rate-app-graphic-mobile.png" alt="easy-rate-app-graphic-mobile" itemprop="image" height="744" width="822" title="easy-rate-app-graphic-mobile" srcset="/assets/media/2021/06/easy-rate-app-graphic-mobile.png 822w, /assets/media/2021/06/easy-rate-app-graphic-mobile-300x272.png 300w, /assets/media/2021/06/easy-rate-app-graphic-mobile-768x695.png 768w, /assets/media/2021/06/easy-rate-app-graphic-mobile-366x331.png 366w, /assets/media/2021/06/easy-rate-app-graphic-mobile-255x231.png 255w" sizes="auto, (max-width: 822px) 100vw, 822px" >
					</div>
	</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-6191b127282a2 fl-row-default-height fl-row-align-center" data-node="6191b127282a2">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-6191b127282a3 fl-col-group-equal-height fl-col-group-align-center" data-node="6191b127282a3">
			<div class="fl-col fl-node-6191b127282a4 fl-col-bg-color fl-col-small" data-node="6191b127282a4">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-6191b127282a5 fl-animation fl-fade-left" data-node="6191b127282a5" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img loading="lazy" decoding="async" width="558" height="686" class="fl-photo-img wp-image-1802" src="/assets/media/2021/07/iphone-screenshots-benefits.png" alt="iphone-screenshots-benefits" itemprop="image" title="iphone-screenshots-benefits" srcset="/assets/media/2021/07/iphone-screenshots-benefits.png 558w, /assets/media/2021/07/iphone-screenshots-benefits-244x300.png 244w, /assets/media/2021/07/iphone-screenshots-benefits-298x366.png 298w, /assets/media/2021/07/iphone-screenshots-benefits-242x298.png 242w" sizes="auto, (max-width: 558px) 100vw, 558px" >
					</div>
	</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-6191b127282a6 fl-col-bg-color fl-col-small" data-node="6191b127282a6">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-6191b127282a7 fl-animation fl-fade-right" data-node="6191b127282a7" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h4>Benefits</h4>
</div>
	</div>
</div>
<div class="fl-module fl-module-info-list fl-node-6191b127282d6 fl-animation fl-fade-right" data-node="6191b127282d6" data-animation-delay="0.4" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		
<div class="uabb-module-content uabb-info-list">
	<ul class="uabb-info-list-wrapper uabb-info-list-left">
		<li class="uabb-info-list-item info-list-item-dynamic0"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic0"><div class="uabb-module-content uabb-imgicon-wrap">		
		</div><div class="custom-character0"><strong>1</strong></div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic0"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic0"><p>Growing your Google reviews regularly with a higher rating, (Google reviews are the new digital word of mouth) all while keeping any negative feedback offline.</p></div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li><li class="uabb-info-list-item info-list-item-dynamic1"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic1"><div class="uabb-module-content uabb-imgicon-wrap">		
		</div><div class="custom-character1"><strong>2</strong></div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic1"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic1"><p>Give your customers the opportunity to provide feedback after every interaction from every staff member, this improves your customer service and productivity….exponentially.</p></div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li><li class="uabb-info-list-item info-list-item-dynamic2"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic2"><div class="uabb-module-content uabb-imgicon-wrap">		
		</div><div class="custom-character2"><strong>3</strong></div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic2"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic2"><p>Learn where you can improve your business, service or products from the people who matter – your customers.</p></div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li><li class="uabb-info-list-item info-list-item-dynamic3"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic3"><div class="uabb-module-content uabb-imgicon-wrap">		
		</div><div class="custom-character3"><strong>4</strong></div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic3"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic3"><p>Make it quick and easy for your customers to provide feedback and review your business.</p></div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li><li class="uabb-info-list-item info-list-item-dynamic4"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic4"><div class="uabb-module-content uabb-imgicon-wrap">		
		</div><div class="custom-character4"><strong>5</strong></div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic4"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic4"><p>Easy to send, receive and respond to feedback request....all from your mobile</p></div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li>	</ul>
</div>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-6191b127282d7 fl-animation fl-fade-right" data-node="6191b127282d7" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
<div class="fl-module fl-module-button fl-node-61a444c7482ff fl-animation fl-fade-up cta-enquire-btn" data-node="61a444c7482ff" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-button-wrap fl-button-width-full fl-button-center fl-button-has-icon">
			<a href="/easy-rate-app/try-now/" target="_self" class="fl-button">
					<i class="fl-button-icon fl-button-icon-before fas fa-paper-plane" aria-hidden="true"></i>
						<span class="fl-button-text">REQUEST A DEMO</span>
					</a>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-parallax fl-node-6191b1272829c fl-row-default-height fl-row-align-center" data-node="6191b1272829c" data-parallax-speed="2" data-parallax-image="/assets/media/2020/11/monthly-marketing-design-bg.svg">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-6191b1272829d fl-col-group-equal-height fl-col-group-align-center" data-node="6191b1272829d">
			<div class="fl-col fl-node-6191b1272829f fl-col-bg-color fl-col-small" data-node="6191b1272829f">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-6191b127282dc fl-animation fl-fade-left" data-node="6191b127282dc" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h2>Watch a quick video to see how it works</h2>
</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-6191b1272829e fl-col-bg-color" data-node="6191b1272829e">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-wistia-video fl-node-6191b127282ad fl-animation fl-fade-left" data-node="6191b127282ad" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-video fl-wistia-video">
    <div class="wistia-container">
    	https://fast.wistia.net/embed/iframe/p277jn02z5?&autoPlay=false&controlsVisibleOnLoad=false	</div>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-6191b127282e3 fl-row-default-height fl-row-align-center" data-node="6191b127282e3">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-6191b127282e4" data-node="6191b127282e4">
			<div class="fl-col fl-node-6191b127282e5 fl-col-bg-color" data-node="6191b127282e5">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-cta fl-node-6191b127282e2 fl-animation fl-fade-up cta-enquire-btn" data-node="6191b127282e2" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-cta-wrap fl-cta-inline">
	<div class="fl-cta-text">
		<h3 class="fl-cta-title">Get started on the free <br>Easy Rate App</h3>
		<div class="fl-cta-text-content"></div>
	</div>
	<div class="fl-cta-button">
		<div class="fl-button-wrap fl-button-width-full fl-button-has-icon">
			<a href="/easy-rate-app/try-now/" target="_self" class="fl-button">
					<i class="fl-button-icon fl-button-icon-before fas fa-paper-plane" aria-hidden="true"></i>
						<span class="fl-button-text">REQUEST A DEMO</span>
					</a>
</div>
	</div>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-parallax fl-node-6191b127282a9 fl-row-default-height fl-row-align-center" data-node="6191b127282a9" data-parallax-speed="2" data-parallax-image="/assets/media/2020/12/stimulus-packages-design-bg-purple.svg">
	<div class="fl-row-content-wrap">
								<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-6191b127282aa fl-col-group-equal-height fl-col-group-align-center" data-node="6191b127282aa">
			<div class="fl-col fl-node-6191b127282ab fl-col-bg-color" data-node="6191b127282ab">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-photo fl-node-6191b127282a0 fl-animation fl-fade-left" data-node="6191b127282a0" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img loading="lazy" decoding="async" width="1200" height="892" class="fl-photo-img wp-image-1718" src="/assets/media/2021/04/iphone-easy-rate-app.png" alt="iphone-easy-rate-app" itemprop="image" title="iphone-easy-rate-app" srcset="/assets/media/2021/04/iphone-easy-rate-app.png 1200w, /assets/media/2021/04/iphone-easy-rate-app-300x223.png 300w, /assets/media/2021/04/iphone-easy-rate-app-1024x761.png 1024w, /assets/media/2021/04/iphone-easy-rate-app-768x571.png 768w, /assets/media/2021/04/iphone-easy-rate-app-366x272.png 366w, /assets/media/2021/04/iphone-easy-rate-app-255x190.png 255w" sizes="auto, (max-width: 1200px) 100vw, 1200px" >
					</div>
	</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-6191b127282ac fl-col-bg-color fl-col-small" data-node="6191b127282ac">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-rich-text fl-node-6191b127282a8 fl-animation fl-fade-left" data-node="6191b127282a8" data-animation-delay="0.2" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h2>What you will need</h2>
</div>
	</div>
</div>
<div class="fl-module fl-module-info-list fl-node-6191b127282b1 fl-animation fl-fade-down" data-node="6191b127282b1" data-animation-delay="0" data-animation-duration="1">
	<div class="fl-module-content fl-node-content">
		
<div class="uabb-module-content uabb-info-list">
	<ul class="uabb-info-list-wrapper uabb-info-list-left">
		<li class="uabb-info-list-item info-list-item-dynamic0"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic0"><div class="uabb-module-content uabb-imgicon-wrap">		
					<div class="uabb-image
		 uabb-image-crop-simple		" itemscope itemtype="https://schema.org/ImageObject">
			<div class="uabb-image-content">
				<img loading="lazy" decoding="async" width="17" height="17" class="uabb-photo-img wp-image-1144" src="/assets/media/2020/12/ic-check.svg" alt="ic-check" title="ic-check" itemprop="image">
			</div>
		</div>

		</div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic0"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic0"><p>Download our free Ad On Review Mobile App from the App Store or Google Play. Search Ad On Review.</p>
<div style="margin-top: 20px; display: flex; align-item: center;"><img loading="lazy" decoding="async" class="alignleft size-large wp-image-1770" src="/assets/media/2021/06/app_store_badge.svg" alt="" width="150" height="150" ><br>
<img loading="lazy" decoding="async" class="alignleft size-large wp-image-1771" src="/assets/media/2021/06/google_play_badge.svg" alt="" width="150" height="150" ></div>
</div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li><li class="uabb-info-list-item info-list-item-dynamic1"><div class="uabb-info-list-content-wrapper fl-clearfix uabb-info-list-left"><div class="uabb-info-list-icon info-list-icon-dynamic1"><div class="uabb-module-content uabb-imgicon-wrap">		
					<div class="uabb-image
		 uabb-image-crop-simple		" itemscope itemtype="https://schema.org/ImageObject">
			<div class="uabb-image-content">
				<img loading="lazy" decoding="async" width="17" height="17" class="uabb-photo-img wp-image-1144" src="/assets/media/2020/12/ic-check.svg" alt="ic-check" title="ic-check" itemprop="image">
			</div>
		</div>

		</div></div><div class="uabb-info-list-content uabb-info-list-left info-list-content-dynamic1"><p class="uabb-info-list-title"></p><div class="uabb-info-list-description uabb-text-editor info-list-description-dynamic1"><p>A verified Google my business page or a Facebook page<br>
<img decoding="async" class="alignleft size-large wp-image-1806" src="/assets/media/2021/07/Google-and-Facebook.svg" alt="" width="300" height="auto" style="margin-top:20px;" loading="lazy"></p>
</div></div></div><div class="uabb-info-list-connector uabb-info-list-left"></div></li>	</ul>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>
</div><div class="uabb-js-breakpoint" style="display: none;"></div>	</div>
	
</article>


		</div>
	</div>
</div>


